.bg-img {
    background: linear-gradient(rgb(0, 72, 0), rgb(28, 100, 28), rgb(56, 128, 56), rgb(84, 156, 84), rgb(255, 255, 255));
    background-repeat: no-repeat;
}

div.square {
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

div.square:hover {
    background-color: rgb(146, 255, 255) !important;
}

div.move-space {
    background-color: rgb(252, 118, 118) !important;
}

.piece {
    font-size: 150%;
}

.pc-black {
    color: red;
}

.pc-white {
    color: blue;
}
